html {
	box-sizing: border-box;
	height: 100%;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	height: 100%;
}

ul,
ol {
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select,
address {
	font: inherit;
}

button {
	background-color: transparent;
	padding: 0;
	cursor: pointer;
	outline: transparent;
	border: none;
}

a {
	text-decoration: none;
	color: inherit;
	outline: transparent;
}
