@import "fonts";
@import "reset";
@import "vars";
@import "global";

.header {
	position: relative;

	&__top {
		position: relative;
		display: flex;
		justify-content: space-between;
		padding: 17px 0 15px;
		font-weight: 700;
		font-size: 13px;
		line-height: 1.38;
		text-transform: uppercase;
		color: $white;

		&::before {
			@extend %background-before;
			background-color: $dark-800;
		}

		& a {
			transition: all 0.3s;
		}

		& a:hover {
			opacity: 0.7;
		}

		& a:focus {
			opacity: 1;
			box-shadow: 0px 0px 0px 3px $green-100;
			border-radius: 3px;
		}

		& a:active {
			opacity: 1;
			box-shadow: initial;
			color: $green-200;
		}
	}

	&__bottom {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&::before {
			@extend %background-before;
			background-color: $green-900;
		}
	}
}

.info {
	display: flex;
	@extend %OpenSans-700;

	&__item {
		&:not(:last-child) {
			margin-right: 50px;
		}
	}

	&__delivery-link {
		position: relative;
		padding-left: 45px;

		&::before {
			@extend %icon-before;
			top: -5px;
			left: 0;
			width: 32px;
			height: 23px;
			background-image: url("../images/icon-delivery-address.svg");
		}
	}

	&__phone-link {
		position: relative;
		padding-left: 33px;

		&::before {
			@extend %icon-before;
			top: -4px;
			left: 0;
			width: 23px;
			height: 23px;
			background-image: url("../images/icon-tel.svg");
		}
	}
}

.menu-nav {
	display: flex;

	&__item {
		&:not(:last-child) {
			margin-right: 24px;
		}
	}
}

.logo {
	display: flex;
	max-width: 200px;
	padding: 25px 0;
	text-transform: uppercase;
	letter-spacing: normal;
	text-align: center;
	color: $white;

	&__title {
		padding-top: 7px;
		padding-left: 14px;
		@extend %Ruda-600;
		font-size: 28px;
		line-height: 1.2;
	}

	&__subtitle {
		display: block;
		font-size: 12px;
		line-height: 1.2;
	}
}

.catalog {
	position: relative;

	&__top {}

	&__btn {
		position: relative;
		z-index: 3;
		padding: 15px 38px 15px 61px;
		@extend %OpenSans-600;
		font-size: 14px;
		letter-spacing: 0.03em;
		background-color: $white;
		border-radius: 6px;
		border: none;
		color: $green-900;
		outline-color: $green-800;
		transition: all 0.3s;

		&:before {
			position: absolute;
			background-image: url("../images/nav-icon.svg");
			@extend %icon-before;
			width: 25px;
			height: 18px;
			top: 50%;
			left: 19px;
			transform: translateY(-50%);
		}

		&:after {
			position: absolute;
			background-image: url("../images/chevron.svg");
			@extend %icon-before;
			width: 8px;
			height: 4px;
			top: 45%;
			right: 19px;
			transition: all 0.3s;
		}

		&:hover {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			background-color: $green-200;

			&:after {
				transform: rotate(180deg);
			}
		}

		&.active {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			background-color: $green-200;

			&:after {
				transform: rotate(180deg);
			}
		}
	}

	&__list {
		display: none;
		position: absolute;
		z-index: 2;
		width: 100%;
		font-size: 16px;
		line-height: 1.2;
		background-color: $white;
		border-radius: 0px 0px 6px 6px;
		transform: translateY(-100%);

		&.active {
			display: block;
			transform: translateY(0%);
		}
	}

	&__item {
		border: 1px solid rgba(193, 193, 193, 0.3);
		border-top-color: transparent;
	}

	&__link {
		display: block;
		padding: 15px 0 15px 24px;
		transition: all 0.3s;

		&:hover {
			border-left: 3px solid $green-800;
			color: $green-800;
			padding-left: 21px;
		}

		&:focus {
			box-shadow: 0px 0px 0px 3px $green-200;
			width: 98%;
			margin: 0 auto;
			padding-left: 22px;
		}

		&:active {
			color: $silver-600;
		}
	}
}

.form-find {
	display: flex;

	&__input {
		display: block;
		position: relative;
		padding: 15px 200px 15px 51px;
		border-top-left-radius: 6px;
		border-bottom-left-radius: 6px;
		color: $dark-800;
		border: none;
		background-image: url("../images/icon-find.svg");
		background-repeat: no-repeat;
		background-size: auto;
		background-position: 3% 50%;
		outline: transparent;

		&:focus {
			box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.5);
		}
	}

	&__btn {
		display: block;
		margin: 0;
		padding: 15px 52px;
		text-transform: uppercase;
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
		background-color: $dark-800;
		color: $white;
		outline: transparent;
		border: none;
		transition: all 0.3s;

		&:hover {
			opacity: 0.85;
		}

		&:focus {
			box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.5);
		}

		&:active {
			color: rgba(255, 255, 255, 0.5);
		}
	}
}

.user-nav {
	display: flex;

	&__item {
		width: 50px;
		height: 50px;

		&:not(:last-child) {
			margin-right: 12px;
		}
	}

	&__link {
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: auto;
		transition: all 0.3s;

		&:hover {
			background-color: rgba(255, 255, 255, 0.1);
			border-radius: 3px;
		}

		&:focus {
			box-shadow: inset 0px 0px 0px 3px $green-100;
			border-radius: 3px;
		}

		&:active {
			box-shadow: initial;
			opacity: 0.5;
			border-radius: 3px;
		}
	}

	&__link--userpic {
		background-image: url("../images/icon-user.svg");
	}

	&__link--heartpic {
		background-image: url("../images/icon-heart.svg");
	}

	&__link--cartpic {
		background-image: url("../images/icon-cart.svg");
	}

	&__num {
		position: absolute;
		width: 18px;
		height: 18px;
		top: 3px;
		left: 3px;
		border-radius: 50%;
		@extend %OpenSans-600;
		font-size: 10px;
		line-height: 1.8;
		text-align: center;
		background-color: $white;
		color: $red-900;
	}
}

//* слайдер-----------------------------------------
.promotions {
	position: relative;

	.swiper-button-prev,
	.swiper-button-next {
		width: 60px;
		height: 60px;
		border-radius: 6px;
		background-color: rgba(255, 255, 255, 0.8);
		outline: transparent;
		transition: all 0.3s;

		&::after {
			color: $dark-500;
			font-size: 40px;
		}

		&:hover {
			background-color: $green-200;

			&:after {
				color: $green-800;
			}
		}

		&:focus {
			background-color: $silver-50;
			box-shadow: 0px 0px 0px 3px rgba(99, 166, 14, 0.5);
			border-radius: 6px;
		}

		&:active {
			&:after {
				color: $green-800;
			}
		}
	}
}

.swiper-slide {
	&__content {
		background-size: cover;
		background-repeat: no-repeat;
		padding: 142px 0;
	}

	.container {
		box-sizing: border-box;
	}

	&__box {
		box-sizing: border-box;
		min-height: 336px;
		display: block;
		padding: 24px 500px 24px 24px;
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 4px;
		letter-spacing: normal;
	}

	&__title {
		margin-bottom: 6px;
	}

	&__title,
	&__subtitle {
		@extend %Ruda-900;
		font-size: 60px;
		line-height: 1.3;

		text-transform: uppercase;
		color: $dark-500;
	}

	&__subtitle {
		color: $red-900;
	}

	&__text {
		margin-bottom: 34px;
		font-size: 16px;
		color: $dark-500;
	}
}

.btn {
	box-sizing: border-box;
	display: block;
	max-width: 181px;
	padding: 12px 24px;
	font-size: 18px;
	line-height: 1.3;
	text-align: center;
	color: $white;
	background-color: $green-900;
	border-radius: 6px;
	transition: all 0.3s;

	&:hover {
		background-color: $green-hov;
	}

	&:focus {
		box-shadow: 0px 0px 0px 4px $green-200;
	}

	&:active {
		color: rgba(255, 255, 255, 0.5);
		box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 6px;
	}
}

.advantages {
	li {
		padding-left: 75px;

		&:not(:last-child) {
			margin-right: 65px;
		}
	}

	&__content {
		position: relative;
		display: flex;
		justify-content: center;
		padding: 50px 0 29px;

		&::before {
			@extend %background-before;
			background-color: $silver-100;
		}
	}

	&__free-shipping,
	&__product-return,
	&__support {
		position: relative;
		max-width: 265px;
		width: 100%;

		&:before {
			top: 0;
			left: 0;
			width: 50px;
			height: 50px;
			@extend %icon-before;
		}
	}

	&__free-shipping {
		&:before {
			background-image: url("../images/icon-scooter.svg");
		}
	}

	&__product-return {
		&:before {
			background-image: url("../images/icon-return-box.svg");
		}
	}

	&__support {
		&:before {
			background-image: url("../images/icon-24-hours.svg");
		}
	}

	&__title {
		@extend %OpenSans-600;
		font-size: 16px;
		letter-spacing: normal;
		margin-bottom: 6px;
	}

	&__subtitle {
		letter-spacing: normal;
	}
}

//* Топ продукты------------------------------------------
.top-product {
	padding-top: 72px;
	margin-bottom: 20px; // !временно, пока не сверстан следующий блок.

	&__title {
		margin-bottom: 30px;
		text-align: center;
		text-transform: uppercase;
		@extend %Ruda-600;
		font-size: 32px;
		letter-spacing: 0.03em;
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-row-gap: 30px;
		grid-column-gap: 30px;
	}

	&__item {}

	.top-product__content {
		margin-bottom: 45px;
	}

	.btn {
		margin: 0 auto;
		background-color: $white;
		color: $green-900;
		border: 1px solid $green-900;
		transition: all 0.3s;

		&:hover {
			background-color: $green-100;
		}
	}
}

.filter {
	display: flex;
	margin-bottom: 51px;
	justify-content: center;
	@extend %OpenSans-700;
	font-size: 15px;

	&__item {
		&:not(:last-child) {
			margin-right: 24px;
		}
	}

	&__btn {
		@extend %OpenSans-700;
		font-size: 15px;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		border: none;
		outline: transparent;
		border-bottom: 3px solid transparent;
		transition: all 0.3s;

		&:hover {
			color: $green-800;
		}

		&:focus {
			box-shadow: 0px 0px 0px 3px $green-200;
			border-radius: 3px;
		}

		&:active {
			box-shadow: initial;
			border-bottom: 3px solid rgba(99, 166, 14, 0.2);
		}

	}
}

.product-card {
	position: relative;
	z-index: 1;
	max-width: 300px;
	border: 1px solid rgba(17, 17, 17, 0.2);
	border-radius: 6px;
	transition: all 0.3s;

	&__top {
		position: relative;
		padding: 12px 12px 7px 12px;
		min-height: 57px;

		& span:not(:last-of-type) {
			margin-bottom: 6px;
		}
	}

	&__new,
	&__discount,
	&__hit {
		display: block;
		padding: 3px 6px;
		@extend %OpenSans-700;
		font-size: 10px;
		line-height: 1;
		color: $white;
		text-transform: uppercase;
		text-align: center;
		border-radius: 6px;
	}

	&__new {
		max-width: 66px;
		background-color: $green-900;
	}

	&__discount {
		max-width: 37px;
		background-color: $red-900;
	}

	&__hit {
		max-width: 34px;
		background-color: $orange-900;
	}

	&__favorite {
		position: absolute;
		top: 17px;
		right: 12px;
		border: none;
	}

	&__link {
		position: relative;
		z-index: 2;
	}

	&__link::after {
		position: absolute;
		z-index: 4;
		content: "";
		width: 100%;
		height: 140%;
		top: 0;
		left: 0;
		cursor: pointer;
	}

	&__img {
		margin: 0 auto;
	}

	&__link-inner {
		position: relative;
		z-index: 2;
	}


	&__title {
		display: block;
		@extend %OpenSans-600;
	}

	&__bottom {
		position: relative;
		min-height: 137px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 18px 18px 18px 18px;

		& span:not(:last-of-type) {
			margin-bottom: 3px;
		}
	}

	&__price {
		display: block;
		padding-left: 4px;
		max-width: 45px;
		line-height: 1;
	}

	&__cart-btn {
		position: absolute;
		width: 32px;
		height: 32px;
		bottom: 18px;
		right: 16px;
		background-image: url("../images/icon-cart-small.svg");
		background-repeat: no-repeat;
		background-size: auto;
		background-position: center center;
		background-color: $green-900;
		border: none;
		border-radius: 3px;
		transition: all 0.3s;

		&:hover {
			background-color: $green-hov;
		}

		&:focus {
			box-shadow: 0px 0px 0px 3px $green-100;
			border-radius: 3px;
		}

		&:active {
			background-color: $green-900;
			box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
	}

	&:hover {
		border: 1px solid $green-800;

		& .product-card__link-inner::before {
			content: '';
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.1);
		}

		& .product-card__link::before {
			content: '';
			position: absolute;
			z-index: 3;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 48px;
			height: 48px;
			border-radius: 50%;
			background-color: $white;
			background-image: url('../images/icon-search.svg');
			background-position: center center;
			background-size: auto;
			background-repeat: no-repeat;
		}
	}
}

.crossed {
	position: relative;
	color: $silver-600;

	&:before {
		position: absolute;
		width: 100%;
		height: 50%;
		content: "";
		border-bottom: 1px solid $silver-600;
		transform: rotate(-15deg);
	}
}

.footer {
	position: relative;
	color: $white;

	&:before {
		@extend %background-before;
		background-color: $dark-800;
	}

	& .logo {
		padding: 30px 0;
	}

	&__body {
		display: flex;
		justify-content: flex-end;
	}

	&__email {
		margin-right: auto;
		max-width: 310px;
	}

	&__label {
		display: block;
		line-height: 1;
		letter-spacing: normal;
		margin-bottom: 17px;
	}

	&__email-inner {
		display: flex;
	}

	&__input {
		display: block;
		padding: 11px 5px 12px 11px;
		border-top-left-radius: 6px;
		border-bottom-left-radius: 6px;
		border: none;
		outline: transparent;

		&::placeholder {
			@extend %OpenSans-400;
			font-size: 14px;
			line-height: 1;
			letter-spacing: normal;
			color: $dark-email;
		}
	}

	&__btn {
		display: block;
		padding: 12px 16px;
		@extend %OpenSans-700;
		font-size: 12px;
		line-height: 1.3;
		letter-spacing: normal;
		text-transform: uppercase;
		border-radius: 0 6px 6px 0;
		background-color: $green-800;
		color: $white;
		outline: transparent;
		border: none;
		transition: all 0.3s;

		&:hover {
			background-color: $green-hov;
		}

		&:focus {
			box-shadow: 0px 0px 0px 3px $green-100;
			border-radius: 6px;
		}

		&:active {
			box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
			color: rgba(255, 255, 255, 0.5);
		}
	}

	&__menu {
		margin-right: 55px;
		column-count: 3;
		column-gap: 75px;
		letter-spacing: normal;
	}

	&__item {
		&:not(:last-child) {

			margin-bottom: 18px;
		}
	}

	&__link {
		transition: all 0.3s;

		&:hover {
			color: $green-hov;
		}

		&:focus {
			box-shadow: 0px 0px 0px 3px $green-100;
			border-radius: 3px;
		}

		&:active {
			box-shadow: initial;
			color: rgba(255, 255, 255, 0.5);
		}
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 54px 0 24px;
	}

	&__copyright {
		display: block;
		letter-spacing: normal;

	}

	&__credit-cards {
		display: flex;
	}

	&__visa {
		display: block;
		width: 93px;
		height: 29px;
		margin-right: 24px;
		background-image: url('../images/icon-visa.svg');
		background-size: cover;
		background-position: 0 0;
		background-repeat: no-repeat;
	}

	&__mastercard {
		display: block;
		width: 49px;
		height: 29px;
		background-image: url('../images/icon-mastercard.svg');
		background-size: cover;
		background-position: 0 0;
		background-repeat: no-repeat;
	}
}


.contacts {
	margin-right: 10px;

	&__list {}

	&__item {
		margin-bottom: 19px;

		letter-spacing: normal;
	}

	&__link {
		display: inline-block;
		margin-left: 5px;
		letter-spacing: normal;
		transition: all 0.3s;

		&:hover {
			color: $green-hov;
		}

		&:focus {
			box-shadow: 0px 0px 0px 3px $green-100;
			border-radius: 3px;
		}
	}

	&__address {}
}

.social {
	display: flex;

	&__item {
		&:not(:last-child) {
			margin-right: 12px;
		}
	}

	&__link {
		display: block;
		width: 32px;
		height: 32px;
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: cover;
		transition: all 0.3s;

		&:hover {
			opacity: 0.5;
		}

		&:focus {
			box-shadow: 0px 0px 0px 3px $green-100;
			border-radius: 3px;
		}
	}
}

@import "media";
