.advantages {
  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 50px 0 29px;

    &::before {
      @extend %background-before;
      background-color: $silver-100;
    }
  }

  &__item {
    padding-left: 75px;
		position: relative;
    max-width: 265px;
    width: 100%;
		letter-spacing: normal;
    &:not(:last-child) {
      margin-right: 65px;
    }

      &:before {
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        @extend %icon-before;
      }

    &--free-shipping {
      &:before {
        background-image: url("../../images/icons/icon-scooter.svg");
      }
    }

    &--product-return {
      &:before {
        background-image: url("../../images/icons/icon-return-box.svg");
      }
    }

    &--support {
      &:before {
        background-image: url("../../images/icons/icon-24-hours.svg");
      }
    }
  }
  &__title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 6px;
  }
}
