.filter {
  display: flex;
  margin-bottom: 51px;
  justify-content: center;

  &__item {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__btn {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: color 0.3s, box-shadow 0.3s;

    &:hover {
      color: $green-800;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:active {
      box-shadow: initial;
      border-bottom: 3px solid rgba(99, 166, 14, 0.2);
    }
  }
}
