.header {
  position: relative;

  &__bottom {
    position: relative;
    padding: 25px 0;
    display: flex;
    align-items: center;

    &::before {
      @extend %background-before;
      background-color: $green-900;
    }
  }
}

.info-menu {
  &__list {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 17px 0 15px;
    width: 100%;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.38;
    text-transform: uppercase;
    color: $white;

    &::before {
      @extend %background-before;
      background-color: $dark-800;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-right: 24px;
      transition: color 0.3s, opacity 0.3s, box-shadow 0.3s,
        background-color 0.3s;
    }

    &:first-child {
      margin-right: 49px;
    }

    &--shift {
      margin-left: auto;
    }
  }

  &__link {
		
    &:hover {
      opacity: 0.7;
    }

    &:focus {
      opacity: 1;
      box-shadow: 0 0 0 3px $green-100;
      border-radius: 3px;
    }

    &:active {
      opacity: 1;
      box-shadow: initial;
      color: $green-200;
    }
    &--delivery {
      position: relative;
      padding-left: 45px;

      &::before {
        @extend %icon-before;
        top: -4px;
        left: 1px;
        width: 32px;
        height: 23px;
        background-image: url("../../images/icons/icon-delivery-address.svg");
      }
    }

    &--phone {
      position: relative;
      padding-left: 33px;

      &::before {
        @extend %icon-before;
        top: -3px;
        left: -1px;
        width: 23px;
        height: 23px;
        background-image: url("../../images/icons/icon-tel.svg");
      }
    }
  }
}

.menu-nav {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}

.catalog {
  position: relative;
  margin-right: 30px;

  &__btn {
    position: relative;
    z-index: 3;
    padding: 15px 38px 15px 61px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: $white;
    border-radius: 6px;
    border: none;
    color: $green-900;
    outline-color: $green-800;
    transition: opacity 0.3s, box-shadow 0.3s, background-color 0.3s;

    &:before {
      background-image: url("../../images/icons/icon-nav.svg");
      @extend %icon-before;
      width: 25px;
      height: 18px;
      top: 50%;
      left: 19px;
      transform: translateY(-50%);
    }

    &:after {
      background-image: url("../../images/icons/icon-chevron.svg");
      @extend %icon-before;
      width: 8px;
      height: 4px;
      top: 45%;
      right: 19px;
      transition: transform 0.3s;
    }

    &:hover {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      background-color: $green-200;

      &:after {
        transform: rotate(180deg);
      }
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
    }

    &:active {
      box-shadow: initial;
      opacity: 0.5;
    }

    &.active {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      background-color: $green-200;

      &:after {
        transform: rotate(180deg);
      }
    }
  }

  &__list {
    position: absolute;
    z-index: 2;
    width: 100%;

    background-color: $white;
    border-radius: 0 0 6px 6px;
    opacity: 0;
    transition: opacity 0.3s;

    &.active {
      opacity: 1;
    }
  }

  &__item {
    border: 1px solid rgba(193, 193, 193, 0.3);
    border-top-color: transparent;
  }

  &__link {
    display: block;
    padding: 15px 0 15px 24px;
    font-size: 16px;
    line-height: 1.2;
    transition: color 0.3s, box-shadow 0.3s;

    &:hover {
      border-left: 3px solid $green-800;
      color: $green-800;
      padding-left: 21px;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      width: 98%;
      margin: 0 auto;
      padding-left: 22px;
    }

    &:active {
      color: $silver-600;
    }
  }
}

.form-find {
  position: relative;
  display: flex;
  max-width: 577px;
  width: 100%;

  &__icon {
    position: absolute;
    z-index: 1;
    left: 12px;
    width: 21px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__input {
    display: block;
    position: relative;
    width: 100%;
    padding: 15px 25px 15px 51px;
    letter-spacing: 0.03em;
    border-radius: 6px 0 0 6px;
    color: $dark-800;

    &:hover {
      &::placeholder {
        color: $white;
      }
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
    }
  }

  &__btn {
    display: block;
    margin: 0;
    padding: 15px 53px;
    text-transform: uppercase;
    border-radius: 0 6px 6px 0;
    letter-spacing: 0.03em;
    background-color: $dark-800;
    color: $white;
    outline: transparent;
    border: none;
    transition: opacity 0.3s, box-shadow 0.3s, color 0.3s;

    &:hover {
      opacity: 0.85;
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
    }

    &:active {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.user-nav {
  display: flex;
  margin-left: auto;

  &__item {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }
  &__icon {
    fill: $white;
    transition: opacity 0.3s;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50px;
    height: 50px;
    text-align: center;
    transition: box-shadow 0.3s, background-color 0.3s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 3px;
    }

    &:focus {
      box-shadow: inset 0 0 0 3px $green-100;
      border-radius: 3px;
    }

    &:active {
      box-shadow: initial;
      border-radius: 3px;
      & .user-nav__icon {
        opacity: 0.5;
      }
    }
  }
  &__num {
    position: absolute;
    min-width: 18px;
    height: 18px;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    font-weight: 600;
    font-size: 10px;
    line-height: 1.8;
    text-align: center;
    background-color: $white;
    color: $red-900;
  }
}
