.top-product {
  padding: 72px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	
  &__title {
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    @extend %Ruda-600;
    font-size: 32px;
    letter-spacing: 0.03em;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }

  .top-product__content {
    margin-bottom: 45px;
  }
}
